testdevops/src/main/mule/testdevops.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="6db023f2-0e50-42e7-8e29-887026307586" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="testdevopsFlow" doc:id="60e961c9-696c-4405-bde0-016296ad39ed" >
		<http:listener doc:name="Listener" doc:id="49cfbad9-2a78-4d25-a987-bfe754a16dc4" config-ref="HTTP_Listener_config" path="/test/v1"/>
		<logger level="INFO" doc:name="Logger" doc:id="29d16b6e-c8ac-4f77-8fd5-39233be6ea45" />
		<set-payload value='#["hello"]' doc:name="Set Payload" doc:id="78c87bf5-f631-4dc2-8784-88fe9b9af289" />
	</flow>
</mule>
